<#include "/common/common.html"> <!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<base id="base" href="${base}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>customer</title>

<link rel="stylesheet" href="${base}/static/common/css/iview.css">
<link rel="stylesheet" href="${base}/static/common/css/style.css">

<script type="text/javascript" src="${base}/static/common/js/jquery3.js"></script>
<script type="text/javascript" src="${base}/static/common/js/vue.js"></script>
<script type="text/javascript"
	src="${base}/static/common/js/iview.min.js"></script>
<script type="text/javascript"
	src="${base}/static/common/js/jquery.slimscroll.js"></script>
<script type="text/javascript"
	src="${base}/static/common/js/jquery.slidereveal.js"></script>
<script type="text/javascript" src="${base}/static/common/js/common.js"></script>
<script type="text/javascript"
	src="${base}/static/common/js/jquery.form.js"></script>
<script type="text/javascript"
	src="${base}/static/common/js/areaCode.js"></script>

<!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="customerVM" class="container">
  <#include "/customer/customerContent.html">
 111111
</div>
</body>
<script type="text/javascript" src="${base}/static/customer/js/customer.js"></script>
</html>